.images {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
  /*padding: 8px;
  */
  /*border: 2px red solid;
  */
  margin: 10px;
  box-shadow: 0 10px 10px 0 #1c1c1c;
  transition: all 0.25s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.images:hover {
  box-shadow: 0 10px 10px 0 transparent;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

#imageDiv {
  position: absolute;
  margin: 10%;
  margin-top: 15px;
  /* width: 75%; */
  text-align: center;
}