.App {
  text-align: center;
}

.scoreDiv {
  padding: 3px;
  background-image: url('./assets/images/field.png');
  /* background-size: cover; */
  background-position: center;
  width: 50%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  /* background-color: green; */
  opacity: .7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.soccer {
  position: absolute;
  margin-left: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 200px, 0);
  }
}